html {
  font-size: 62.5%;
  --snake-color: orange;
}
body {
  background-color: gray;
  padding: 0;
  margin: 0;
}

.container {
  width: 100rem;
  margin: auto;
}
h1 {
  text-align: center;
}
#game-panel {
  display: grid;
  margin: auto;
  background: #223;
}

#game-panel span {
  box-sizing: border-box;
  padding-top: 100%;
  border-radius: 50%;
  /* box-shadow: inset 0 0 0 0.1rem grey; */
}

#game-panel span.snake-food {
  background-color: red;
}
#game-panel span.snake-head {
  background-color: var(--snake-color);
}

#game-panel span.snake-body {
  /* transition: 0.1s; */
  box-shadow: inset 0 0 0 0.5rem var(--snake-color);
}
